@model SpletnaAplik.Models.ironman703
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h1>Ironman703 Iskani Tekmovalec</h1>
<br/>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.genderRank)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.divRank)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.overallRank)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.bib)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.division)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.country)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.profession)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.points)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.swim)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.swimDistance)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.t1)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.bike)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.bikeDistance)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.t2)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.run)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.runDistance)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.overall)
            </th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
            {*@
        <tr>
            <td scope="row">
                @Html.DisplayFor(modelItem => Model.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.genderRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.divRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.overallRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.bib)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.division)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.profession)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.swim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.swimDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.t1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.bike)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.bikeDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.t2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.run)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.runDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.overall)
            </td>
        </tr>
        @*}*@
    </tbody>
</table>